<% include ./partials/htmlhead %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script type='text/javascript'>
      var data =<%-JSON.stringify(data)%>;
      console.log(data);
    </script>
  </head>
  <body>
    <% include ./partials/nav %>
    <% include ./partials/error_alert %>
    <div class="container">
      <div class="page-header">
        <h2 class="page-header__headline poll-title">Dashboard</h2>
        <div class="page-header__welcome-message">Welcome <%=data.username %>!</div>
        <a href="/polls/createpoll"><button class="button--home-header button--home-header--primary">Create Poll</button></a>
      </div>
      <div class="content-container__hcenter">
        <div class="dashboard-container">
          <div class="dashboard__section authored-polls">
            <h3 class="dashboard__section__heading">Created Polls</h3>
            <% if(data.authoredPolls.length === 0 ){ %>
              <div class="empty-error">You haven't created any polls yet</div>
            <% } else { %>
              <%data.authoredPolls.forEach(function(poll){ %>
                  <a href="/polls/<%=poll._id%>/r">
                    <div class="poll-summary">
                      <h3 class="poll-summary__title"><%= poll.title %></h3>
                      <p class="poll-summary__deadline"><%=moment(poll.deadline).isSameOrBefore() ? "Ended " : "Ends " %>
                        <span data-deadline="<%=poll.deadline%>"><%=poll.deadline%></span>
                      </p>
                    </div>
                  </a>
              <% }); %>
            <% } %>
          </div>
          <div class="dashboard__section participant-polls">
            <h3 class="dashboard__section__heading">Polls You Voted For</h3>
            <% if(data.participantVotes.length === 0 ){ %>
              <div class="empty-error">You haven't voted in any polls yet</div>
            <% } else { %>
              <%data.participantVotes.forEach(function(poll){ %>
                  <a href="/polls/<%=poll._id%>/r">
                    <div class="poll-summary">
                      <h3 class="poll-summary__title"><%= poll.title %></h3>
                      <p class="poll-summary__deadline"><%=moment(poll.deadline).isSameOrBefore() ? "Ended " : "Ends " %>
                        <span data-deadline="<%=poll.deadline%>"><%=poll.deadline%></span>
                      </p>
                    </div>
                  </a>
              <% }); %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
