<% include ../partials/htmlhead %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="/scripts/pollresults.js"></script>
    <script type='text/javascript'>
      var isOwner = <%- !!(currentUser && data.author.equals(currentUser._id)) %>;
      var data =<%-JSON.stringify(data)%>;
      console.log(data);
    </script>
  </head>
  <body>
    <% include ../partials/nav %>
    <% include ../partials/error_alert %>
    <div class="container">
      <div class="page-header">
        <h2 class="page-header__headline poll-title">Results for <%= data.title %></h2>
        <p class="page-header__ending-time"></p>
      </div>
      <div class="content-container__hcenter">
        <div class="poll-results">
            <div class="registered-songs end-list">
              <% if(data.songs.length === 0){ %>
                <div class="poll-list__empty-error">No songs in this poll for now</div>
              <% } else { %>
                <%data.songs.forEach(function(song){ %>
                  <div class="song-item--result">
                    <div class="song-item--result__data">
                      <div class="song-item--result__data__details"><%= song.title %> - <%= song.artist %></div>
                      <div class="song-item--result__data__vote-count"><%= song.voteCount %> votes</div>
                    </div>
                    <div class="song-item--result__bar">
                      <div class="song-item--result__bar__wrapper">
                        <div class="song-item--result__bar__percentage-bar" style="width:<%= song.voteCount == 0 ? 0 : Math.round((song.voteCount * 100)/ data.total)%>%"></div>
                      </div>
                      <div class="song-item--result__bar__percentage percentage"><%= song.voteCount == 0 ? 0 : Math.round((song.voteCount * 100)/ data.total) %>%</div>
                    </div>
                  </div>
                <% }); %>
              <% } %>
            </div>
        </div>
        <div class="results-page__footer">
          <div class="results-page__footer__total-vote-count"><%= data.total %> votes</div>
          <div class="results-footer-buttons">
            <% if(moment(data.deadline).isSameOrAfter(moment())){ %>
              <a class="vote-link-btn" href="/polls/<%=data.pollId%>"><button class="btn btn-primary">Vote</button><a>
            <% } %>
            <button class="btn btn-secondary share-popover" data-toggle="popover"><i class="fas fa-share"></i> Share</button>
            <div class="popper-content d-none">
              <div class="social-links">
                <a class="twitter-link" href="https://twitter.com/intent/tweet?text=<%= encodeURI(data.title) %>&url=https://tunetally.herokuapp.com/polls/<%=data.pollId%>" target="_blank">Twitter</a>
              </div>
             <div class="local-links">
               <label>URL
                 <div>
                   <input class="poll-link" type="text" value="https://tunetally.herokuapp.com/polls/<%= data.pollId %>"/>
                   <button class="btn btn-dark copy-poll-link">Copy</button>
                 </div>
              </label>

             </div>
           </div>
           <% if((currentUser && data.author.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
               <form id="delete-form" action="/polls/<%= data.pollId %>?_method=DELETE" method="POST" class="form--delete-poll">
                   <button class="btn btn-danger">Delete Poll Permanently</button>
               </form>
           <% }%>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
