<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tune Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/../stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link href="/../stylesheets/typeahead-styles.css" rel="stylesheet" type="text/css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="/scripts/typeahead.bundle.js"></script>
    <script src="/scripts/pollresults.js"></script>
    <script type='text/javascript'>
      var data =<%-JSON.stringify(data)%>;
      console.log(data);
    </script>
  </head>
  <body>
    <% include ../partials/nav %>
    <% include ../partials/error_alert %>
    <div class="container">
      <div class="content-container--header">
        <h2 class="subheading poll-title">Results for <%= data.title %></h2>
        <p class="ending-time"></p>
      </div>
      <div class="content-container__hcenter">
        <div class="content-container--poll-results">
            <div class="registered-songs end-list">
              <% if(data.songs.length === 0){ %>
                <div class="empty-error">No songs in this poll for now</div>
              <% } else { %>
                <%data.songs.forEach(function(song){ %>
                  <div class="song-item-result">
                    <div class="song-item-data">
                      <div class="song-details"><%= song.title %> - <%= song.artist %></div>
                      <div class="vote-count"><%= song.voteCount %> votes</div>
                    </div>
                    <div class="song-item-bar">
                      <div class="content-container-percentage-bar">
                        <div class="percentage-bar" style="width:<%= song.voteCount == 0 ? 0 : Math.round((song.voteCount * 100)/ data.total)%>%"></div>
                      </div>
                      <div class="percentage"><%= song.voteCount == 0 ? 0 : Math.round((song.voteCount * 100)/ data.total) %>%</div>
                    </div>
                  </div>
                <% }); %>
              <% } %>
            </div>
        </div>
        <div class="content-container--poll-results-footer">
          <div class="total-vote-count"><%= data.total %> votes</div>
          <div class="content-container-buttons">
            <% if(moment(data.deadline).isSameOrAfter(moment())){ %>
              <a class="vote-link-btn" href="/polls/<%=data.pollId%>"><button class="btn btn-primary">Vote</button><a>
            <% } %>
            <button class="btn btn-secondary share-popover" data-toggle="popover"><i class="fas fa-share"></i> Share</button>
            <div class="popper-content d-none">
              <div class="social-links">
                <a class="twitter-link" href="https://twitter.com/intent/tweet?text=<%= encodeURI(data.title) %>&url=http://www.tunetally.com/<%=data.pollId%>" target="_blank">Twitter</a>
              </div>
             <div class="local-links">
               <label>URL
                 <div>
                   <input class="poll-link" type="text" value="http://localhost:3000/polls/<%= data.pollId %>"/>
                   <button class="btn btn-dark copy-poll-link">Copy</button>
                 </div>
              </label>

             </div>
           </div>
           <% if((currentUser && data.author.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
               <form id="delete-form" action="/polls/<%= data.pollId %>?_method=DELETE" method="POST" class="content-container--delete">
                   <button class="btn btn-danger">Delete Poll Permanently</button>
               </form>
           <% }%>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
